@font-face {
  font-family: "technasans";
  src: url("../assets/fonts/TechnaSans-Regular-webfont.woff") format("woff");
  font-weight: 900;
}
$title-font: "technasans";

@font-face {
  font-family: "exo2";
  src: url("../assets/fonts/Exo2-Regular-webfont.woff") format("woff");
}
$main-font: "exo2";
