@use "./index" as *;

.header {
  z-index: $top;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color-light;
  box-shadow: 0 3px 2.5px rgb(0, 0, 0, 0.6);
  height: fit-content;

  &:hover {
    height: 275px;

    .nav-list {
      .nav-item {
        display: block;
      }
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    font-family: $main-font;
    font-weight: 600;
  }

  .logo {
    width: min(110px, 20%);
    height: min(110px, calc(20% * 1.1428571429));
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    color: $text-color;
    list-style: none;
    font-size: 1.8rem;

    .nav-icon-li,
    .nav-item {
      margin-right: 4.5vw;
      padding: 0.75rem;

      &:hover {
        background-color: $tertiary-color;
        color: $primary-color-light;
      }
    }

    .nav-icon-li {
      .nav-icon {
        width: max(35px, 5vw);
        color: $text-color;
        background-color: $primary-color;
      }
    }

    .nav-item {
      display: none;
    }
  }
}

@media screen and (min-width: 575px) {
  .header {
    &:hover {
      height: fit-content;
    }

    .nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nav-icon-li {
        display: none;
      }
    }

    .nav-item {
      display: block !important;
      margin: auto 2vw;
    }
  }
}
