@use "./variables" as *;
@use "./mixins" as *;

.about-expander {
  @include cardLayout();
  @include formattedText(1.75rem);

  padding: 2ch 1.5ch;
  margin-bottom: 2rem;

  text-align: center;
  background-color: $bg-color;

  .expander-label {
    cursor: pointer;
  }

  .about-card {
    @include formattedText(1.3rem);

    margin-top: 1ch;

    text-align: left;

    .about-content {
      margin-bottom: 1.5ch;
    }

    .values-list {
      margin-left: 1ch;
      margin-bottom: 1.5ch;

      list-style: none;
      line-height: 2.5ch;
      text-shadow: $text-shadow;
    }
  }
}
