@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:focus-visible {
  outline: 3px solid $tertiary-color;
}

*::selection {
  padding: 0;

  color: $primary-color;
  background-color: $tertiary-color;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $bg-color;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

.App {
  position: absolute;
}

body {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;

  background-color: $bg-color;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
    text-decoration: none;
  }
}

.section-heading {
  @include backgroundText(2.5rem, bottom);

  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tooltip-parent {
  position: relative;

  cursor: default;

  &:hover .tooltip {
    display: block;
  }
}

.tooltip {
  @include hoverGlow();

  position: absolute;
  bottom: 105%;
  left: calc(50% - 110px);
  width: 220px;
  margin-bottom: 10px;

  display: none;

  background-color: $tertiary-color;
  border-radius: 5px;

  .tooltip-arrow {
    position: absolute;
    top: 100%;
    left: calc(50% - 7.5px);

    border-top: 10px solid $tertiary-color;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .tooltip-content {
    @include formattedText(1.25rem);

    padding: 1ch;

    color: $bg-color;
    letter-spacing: -0.5px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
