@use "./variables" as *;
@use "./mixins" as *;

.intro-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4ch;

  .h1 {
    @include backgroundText(4rem, center);
  }

  .subheading {
    @include backgroundText(2.5rem, center);
  }

  .anchor {
    text-decoration: none;
    color: $text-color;

    &:visited {
      color: $text-color;
    }
  }

  .download-button {
    @include transition(background-color color box-shadow, 500ms);
    @include formattedText(1.75rem);

    display: flex;
    align-items: center;
    padding: 1.25ch 2ch;

    border: none;
    background-image: url("../assets/img/aqua-background-2.jpg");
    background-size: cover;
    background-position: center;
    color: black;

    cursor: pointer;

    &:hover {
      @include hoverGlow();

      animation-name: shadow;
      animation-duration: 0.75s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }

    .download-icon {
      width: 25px;
      margin-right: 1rem;
    }
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 4px $tertiary-color;
    filter: blur(0);
  }
  10% {
    box-shadow: -3.75px -2px 10px $tertiary-color;
  }
  20% {
    box-shadow: -4.75px -3.5px 16px $tertiary-color;
  }
  30% {
    box-shadow: -4.75px -4.5px 22px $tertiary-color;
  }
  40% {
    box-shadow: -3.75px -5px 28px $tertiary-color;
  }
  50% {
    box-shadow: 0 -5px 34px $tertiary-color;
    filter: blur(1px);
  }
  60% {
    box-shadow: 3.75px -5px 28px $tertiary-color;
  }
  70% {
    box-shadow: 4.75px -4.5px 22px $tertiary-color;
  }
  80% {
    box-shadow: 4.75px -3.5px 16px $tertiary-color;
  }
  90% {
    box-shadow: 3.75px -2px 10px $tertiary-color;
  }
  100% {
    box-shadow: 0 0 4px $tertiary-color;
    filter: blur(0);
  }
}
