@use "./variables" as *;
@use "./mixins" as *;

.links-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;

  list-style: none;

  .links-item {
    @include transition(background-color box-shadow, 500ms);

    position: relative;
    padding: 12px;
    margin-right: min(35%, 100px);

    border-radius: 5px;

    &:hover {
      @include hoverGlow();

      background-color: $tertiary-color;

      .link {
        .link-icon {
          filter: invert(9%) sepia(9%) saturate(2885%) hue-rotate(201deg)
            brightness(96%) contrast(87%);
        }
      }

      .link-label {
        left: 105%;

        opacity: 1;
      }
    }

    .link {
      .link-icon {
        @include transition(filter, 500ms);

        width: 35px;

        filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(95deg)
          brightness(111%) contrast(101%);
      }
    }

    .link-label {
      @include transition(opacity left, 500ms);
      @include formattedText(1.75rem);

      position: absolute;
      left: 0;
      height: 40px;
      top: 50%;
      margin-top: -20px;
      margin-left: 0.5ch;

      color: $text-color;
      text-shadow: $text-shadow;
      font-style: italic;
      opacity: 0;
    }
  }
}
