@use "variables" as var;

@mixin transition($properties, $duration) {
  transition-property: $properties;
  transition-duration: $duration;
}

@mixin cardLayout() {
  padding: 1rem;
  padding-bottom: 0;
  margin: 1.5rem auto;
  margin-inline: 0.75rem;

  background-color: var.$bg-color;
  border: 2px solid var.$tertiary-color;
}

@mixin backgroundText($size, $bg-position) {
  font-family: var.$title-font;
  font-size: $size;
  background-image: url("../assets/img/aqua-background-2.jpg");
  background-size: cover;
  background-position: $bg-position;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

@mixin formattedText($size) {
  font-family: var.$main-font;
  font-weight: 400;
  font-size: $size;
  color: var.$tertiary-color;
}

@mixin hoverGlow() {
  box-shadow: 0 0 10px var.$tertiary-color;
  // filter: drop-shadow(0 0 10px var.$tertiary-color);
}
