.h1-hidden,
.span-hidden,
.download-hidden,
.heading-hidden,
.project-card-hidden,
.contact-hidden,
.about-hidden {
  opacity: 0;
  filter: blur(3px);
  transition-property: opacity, filter, transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.h1-shown,
.span-shown,
.download-shown,
.heading-shown,
.project-card-shown,
.contact-shown,
.about-shown {
  opacity: 1;
  filter: blur(0);
}

.intro-info {
  .h1-hidden {
    transform: translateY(70%);
    transition-delay: 0.3s;
  }
  .span-hidden {
    transform: translateY(50%);
    transition-delay: 0.8s;
  }
  .download-hidden {
    transform: translateY(30%);
    transition-delay: 2s;
  }

  .h1-shown,
  .span-shown,
  .download-shown {
    transform: translateY(0);
  }
}

.project-card-hidden {
  transform: translateX(-40%);
}
.project-card-shown {
  transform: translateX(0);
}

.contact-hidden,
.about-hidden {
  transform: translateY(40%);
}
.contact-shown,
.about-shown {
  transform: translateY(0);
}
