@use "./variables" as *;
@use "./mixins" as *;

.about-expander {
  @include cardLayout();
  @include formattedText(1.75rem);

  text-align: center;
  padding: 2ch 1.5ch;
  background-color: $primary-color;
  border-radius: 5px;

  .expander-label {
    cursor: pointer;
  }

  .about-card {
    @include formattedText(1.3rem);

    text-align: left;
    margin-top: 1ch;

    .about-content {
      margin-bottom: 1.5ch;
    }

    .values-list {
      @include textShadow();

      list-style: none;
      margin-left: 1ch;
      margin-bottom: 1.5ch;
      line-height: 2.5ch;
    }
  }
}
