@use './abstracts/index' as *;

// Small Screens 
@media only screen and (max-width: 700px) {

  main {
    @include center-text;
    margin-top: 5rem;
  }
  .header-hex {
    display: none;
  }
  h1 {
    margin-top: 5rem;
    margin-bottom: 0;
    padding-top: 1.75rem;
  }

}

// Large Screens
@media only screen and (min-width: 700px) {

  

  p {
    max-width: 65vw;
  }
}