@use "./variables" as *;
@use "./mixins" as *;

@media screen and (min-width: 540px) {
  .project-card {
    .screenshot {
      margin-right: 2ch;
      margin-bottom: 1ch;
    }
  }

  .links-list {
    .links-item {
      margin-right: 100px;
    }
  }

  .intro-info .main-heading .name-container {
    $new-height: 25vh;

    height: $new-height;

    .letter {
      height: calc($new-height / 2);
    }
  }
}

@media screen and (min-width: 947px) {
  .project-card,
  .contact-card,
  .about-expander {
    margin-left: auto;
    margin-right: auto;
    max-width: min(975px, 100%);
  }

  .intro-info .main-heading .name-container {
    $new-height: 250px;
    $new-width: 900px;
    $new-letter-width: calc($new-width / 8);

    height: $new-height;
    width: $new-width;

    .letter {
      height: calc($new-height / 2);
      width: $new-letter-width;
    }

    .j,
    .c {
      left: $new-letter-width;
    }
    .o,
    .g {
      left: calc($new-letter-width * 2);
    }
    .s,
    .r {
      left: calc($new-letter-width * 3);
    }
    .e,
    .e2 {
      left: calc($new-letter-width * 4);
    }
    .p,
    .e3 {
      left: calc($new-letter-width * 5);
    }

    .h,
    .n {
      left: calc($new-letter-width * 6);
    }
    .e4 {
      left: calc($new-letter-width * 7);
    }
  }
}
