@use "./variables" as *;
@use "./mixins" as *;

@media screen and (min-width: 540px) {
  .project-card {
    .screenshot {
      margin-right: 2ch;
      margin-bottom: 1ch;
    }
  }

  .links-list {
    .links-item {
      margin-right: 100px;
    }
  }

  .intro-info .main-heading .name-container {
    height: 175px;
  }
}

@media screen and (min-width: 947px) {
  .project-card,
  .contact-card,
  .about-expander {
    margin-left: auto;
    margin-right: auto;
    max-width: min(975px, 100%);
  }

  .intro-info .main-heading .name-container {
    height: 250px;
  }
}
