@use "./index" as *;

.contact-card {
  @include cardLayout();

  display: flex;

  .contact-information {
    display: flex;
    flex-direction: column;

    .contact-content {
      @include formattedText(1.5rem);

      align-self: center;
      flex-grow: 1;
    }

    .contact-list {
      display: flex;
      justify-content: space-around;
      align-items: center;

      list-style: none;

      .contact-item {
        @include transition(background-color box-shadow);

        position: relative;
        padding: 15px;
        margin: 2ch auto 4.5ch;
        border-radius: 5px;

        &:hover {
          @include hoverGlow();

          background-color: $tertiary-color;

          .contact-label {
            opacity: 1;
            top: 110%;
          }

          .link {
            .contact-icon {
              filter: invert(9%) sepia(9%) saturate(2885%) hue-rotate(201deg)
                brightness(96%) contrast(87%);
            }
          }
        }

        .contact-label {
          @include transition(opacity top);
          @include textShadow();
          @include formattedText(1.75rem);

          position: absolute;
          top: 0;
          // center the label
          left: 50%;
          margin-left: -65%;
          width: 130%;

          text-align: center;
          opacity: 0;
        }

        .link {
          .contact-icon {
            @include transition(filter);

            width: 35px;
            filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(95deg)
              brightness(111%) contrast(101%);
          }

          .linkedin-logo {
            filter: invert(97%) sepia(77%) saturate(0%) hue-rotate(123deg)
              brightness(121%) contrast(100%);
          }
        }
      }
    }
  }
}
