@use "./index" as *;

.contact-card {
  @include cardLayout();

  display: flex;

  .contact-information {
    display: flex;

    .contact-content {
      @include formattedText(1.15rem);

      align-self: center;
      flex-basis: 55%;
      flex-grow: 1;
    }

    .links-list {
      flex-basis: 50%;
      flex-grow: 2;
    }
  }
}
