@use "./index" as *;

.footer {
  background-color: $primary-color;
  width: 100%;
  box-shadow: 0 -3px 2.5px rgb(0, 0, 0, 0.6);

  .footer-nav {
    .footer-list {
      @include formattedText(2.5rem);

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      list-style: none;
      text-align: center;
      padding: 1.5ch;

      .footer-li {
        @include textShadow();
        @include transition(background-color box-shadow);

        padding: 0.75ch 1.4ch;
        border-radius: 5px;

        &:hover {
          @include hoverGlow();

          background-color: $tertiary-color;
          color: $primary-color;

          a:visited {
            color: $primary-color;
          }
        }

        a {
          @include transition(color);
        }
      }
    }

    .copyright {
      @include formattedText(2rem);

      display: block;
      text-align: center;
      background-color: $primary-color;
      padding-bottom: 2ch;
      cursor: default;
    }
  }
}

@media screen and (max-width: 402px) {
  .footer-list {
    display: flex;
    flex-direction: column;
  }
}
