@use "./index" as *;

.footer {
  background-color: $primary-color;
  width: 100%;
  box-shadow: 0 -3px 2.5px rgb(0, 0, 0, 0.6);

  .footer-nav {
    .footer-list {
      @include formattedText(1.25rem);

      display: flex;
      flex-direction: column;
      align-items: center;

      list-style: none;
      padding: 1.5ch;

      .footer-li {
        @include textShadow();
        @include transition(background-color);

        padding: 0.75ch 2ch;
        border-radius: 5px;

        &:last-child {
          text-shadow: none;
          background-color: $primary-color;
          font-size: 1rem;
          cursor: default;
        }

        &:hover {
          background-color: $tertiary-color;
          color: $primary-color;

          a {
            &:visited {
              color: $primary-color;
            }
          }

          &:last-child {
            background-color: $primary-color;
            color: $text-color;
          }
        }

        a {
          @include transition(color);

          text-decoration: none;

          &:visited {
            color: $text-color;
          }
        }
      }
    }
  }
}
