@use "./index" as *;

.header {
  z-index: $top;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: $primary-color;
  box-shadow: 0 3px 5px rgb(0, 0, 0, 0.7);

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-list {
      @include formattedText(1.7rem);

      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;

      color: $text-color;
      list-style: none;

      .logo {
        text-shadow: 0 0 15px $tertiary-color;
        font-family: $title-font;
        font-size: 2rem;
      }

      .nav-item {
        @include transition(background-color box-shadow);

        position: relative;

        flex-grow: 1;

        max-width: 90px;
        padding: 22px 20px;
        margin: 0.5ch 2%;
        border-radius: 5px;

        a .nav-icon {
          @include transition(filter);

          filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(95deg)
            brightness(111%) contrast(101%);
        }

        .nav-label {
          @include transition(opacity top);

          position: absolute;
          left: 50%;
          top: 0;

          margin-left: -50%;
          width: 100%;

          text-align: center;
          font-size: 1.4rem;
          text-shadow: 0 0 5px $tertiary-color;

          opacity: 0;
        }

        &:hover {
          @include hoverGlow();

          background-color: $tertiary-color;

          a .nav-icon {
            filter: invert(9%) sepia(9%) saturate(2885%) hue-rotate(201deg)
              brightness(96%) contrast(87%);
          }

          .nav-label {
            top: 120%;

            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .nav-bar {
    .nav-list {
      .nav-item {
        &:first-child {
          margin-right: auto;
        }
      }
    }
  }
}
