@use "./index" as *;

.header {
  z-index: $top;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  box-shadow: 0 3px 2.5px rgb(0, 0, 0, 0.6);

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      @include textShadow();
      font-family: $title-font;
      font-size: 2rem;
      margin: 0 0.5ch;
    }

    .nav-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-grow: 1;

      font-family: $main-font;
      font-weight: 600;
      font-size: 1.7rem;

      color: $text-color;
      list-style: none;

      .nav-item {
        @include transition(background-color);
        position: relative;
        flex-grow: 1;
        max-width: 100px;
        padding: 22px 20px;
        border-radius: 5px;

        .nav-text {
          @include transition(opacity top);
          position: absolute;
          text-align: center;
          font-size: 1.4rem;
          left: 4%;
          top: 0;
          text-shadow: 0 0 5px $tertiary-color;

          opacity: 0;
        }

        &:hover {
          background-color: $tertiary-color;

          .nav-text {
            top: 110%;
            opacity: 1;
          }
        }
      }
    }
  }
}
