@forward "variables";
@forward "mixins";
@use "mixins" as *;
@use "variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::selection {
  color: $primary-color;
  background-color: $tertiary-color;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $primary-color-light;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  position: absolute;
}

body {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  background-color: $primary-color-light;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-title {
  @include textShadow();
  width: min-content;
  margin: 160px auto 0;
  text-align: center;
  font-family: $title-font;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: -2px;
  cursor: default;

  .title-letter {
    @include transition(text-shadow);

    &:hover {
      text-shadow: 0 0 17px $tertiary-color;
    }
  }
}

.intro-span {
  @include textShadow();
  display: block;
  font-family: $title-font;
  font-weight: 500;
  text-align: center;
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  margin: 60px auto;
}

.section-heading {
  @include textShadow();
  font-family: $title-font;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  margin-top: 2ch;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
