@use "./variables" as *;
@use "./mixins" as *;

.intro-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .h1 {
    @include backgroundText(5rem);

    margin: 40px auto;
  }

  .anchor {
    margin-bottom: 8vh;

    text-decoration: none;
    color: $text-color;
  }

  .download-button {
    @include transition(background-color color box-shadow, 500ms);
    @include formattedText(1.75rem);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.25ch 3ch;

    border: none;
    background-image: url("../assets/img/aqua-background-2.jpg");
    background-size: cover;
    background-position: center;
    color: black;

    cursor: pointer;

    &:hover {
      @include hoverGlow();

      animation-name: shadow;
      animation-duration: 0.75s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
    }

    .download-icon {
      width: 25px;
      margin-right: 15px;
    }
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 4px $tertiary-color;
    filter: blur(0);
  }
  5% {
    box-shadow: -1.75px -1px 7px $tertiary-color;
  }
  10% {
    box-shadow: -3.75px -2px 10px $tertiary-color;
  }
  15% {
    box-shadow: -4.125px -2.75px 13px $tertiary-color;
  }
  20% {
    box-shadow: -4.75px -3.5px 16px $tertiary-color;
  }
  25% {
    box-shadow: -5px -4px 19px $tertiary-color;
  }
  30% {
    box-shadow: -4.75px -4.5px 22px $tertiary-color;
  }
  35% {
    box-shadow: -4.125px -4.75px 25px $tertiary-color;
  }
  40% {
    box-shadow: -3.75px -5px 28px $tertiary-color;
  }
  45% {
    box-shadow: -1.75px -5px 31px $tertiary-color;
  }
  50% {
    box-shadow: 0 -5px 34px $tertiary-color;
    filter: blur(1px);
  }
  55% {
    box-shadow: 1.75px -5px 31px $tertiary-color;
  }
  60% {
    box-shadow: 3.75px -5px 28px $tertiary-color;
  }
  65% {
    box-shadow: 4.125px -4.75px 25px $tertiary-color;
  }
  70% {
    box-shadow: 4.75px -4.5px 22px $tertiary-color;
  }
  75% {
    box-shadow: 5px -4px 19px $tertiary-color;
  }
  80% {
    box-shadow: 4.75px -3.5px 16px $tertiary-color;
  }
  85% {
    box-shadow: 4.125px -2.75px 13px $tertiary-color;
  }
  90% {
    box-shadow: 3.75px -2px 10px $tertiary-color;
  }
  95% {
    box-shadow: 1.75px -1px 7px $tertiary-color;
  }
  100% {
    box-shadow: 0 0 4px $tertiary-color;
    filter: blur(0);
  }
}
