@use "variables" as var;

@mixin transition($properties) {
  transition-property: $properties;
  transition-duration: 500ms;
}

@mixin textShadow() {
  text-shadow: 0 1px 3px var.$tertiary-color;
}

@mixin cardLayout() {
  padding: 1rem;
  padding-bottom: 0;
  margin: 0 auto;

  border-radius: 2ch;
  background-color: var.$primary-color;
}

@mixin formattedText($size) {
  line-height: 2.2ch;

  font-family: var.$main-font;
  letter-spacing: 0.075ch;
  font-weight: 400;
  font-size: $size;
}

@mixin hoverGlow() {
  @include transition(background-color box-shadow);

  box-shadow: 0 0 10px var.$tertiary-color;
}
