@use "variables" as var;

@mixin transition($properties) {
  transition-property: $properties;
  transition-duration: 300ms;
}

@mixin textShadow() {
  text-shadow: 0 1px 3px var.$tertiary-color;
}

@mixin cardLayout() {
  padding: 1.5ch;
  margin: 2ch 1ch;
  border-radius: 5px;
  background-color: var.$primary-color;
}

@mixin formattedText($size) {
  font-family: var.$main-font;
  font-weight: 600;
  font-size: $size;
}

@mixin hoverGlow() {
  @include transition(background-color box-shadow);
  box-shadow: 0 0 10px var.$tertiary-color;
}
