@use "variables" as var;

@mixin transition($properties, $duration) {
  transition-property: $properties;
  transition-duration: $duration;
}

@mixin cardLayout() {
  padding: 1rem;
  padding-bottom: 0;
  margin: 0 auto;
  margin-inline: 0.75rem;

  border-radius: var.$box-radius;
  background-color: var.$primary-color;
}

@mixin formattedText($size) {
  line-height: 2.2ch;

  font-family: var.$main-font;
  letter-spacing: 0.075ch;
  font-weight: 400;
  font-size: $size;
}

@mixin hoverGlow() {
  box-shadow: 0 0 10px var.$tertiary-color;
  // filter: drop-shadow(0 0 10px var.$tertiary-color);
}
