@use "./index" as *;

.project-card {
  background-color: $primary-color;
  padding: 1.5ch;
  margin: 3ch 1ch;
  border-radius: 5px;

  .project-title {
    @include textShadow();
    display: block;
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 0;
    text-decoration: underline;
  }

  .about-project {
    font-size: 1.15rem;
    line-height: 2.5ch;
  }

  .project-title,
  .about-project {
    color: $text-color;
    font-family: $main-font;
    font-weight: 600;
    margin-bottom: 1.5ch;
  }

  .screenshot {
    display: inline;
    max-width: 100%;
    margin-bottom: 1.5ch;
  }

  .project-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
    margin: 1.5ch auto;

    .projects-li {
      @include transition(background-color);
      position: relative;

      flex-grow: 1;

      padding: 12px;
      margin-right: 20%;
      max-width: 65px;
      border-radius: 5px;

      &:hover {
        background-color: $tertiary-color;

        .project-link {
          .project-link-icon {
            filter: invert(9%) sepia(9%) saturate(2885%) hue-rotate(201deg)
              brightness(96%) contrast(87%);
          }
        }

        .link-label {
          opacity: 1;
          left: 102%;
        }
      }

      .project-link {
        .project-link-icon {
          @include transition(filter);
          filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(95deg)
            brightness(111%) contrast(101%);
        }
      }

      .link-label {
        @include textShadow();
        @include transition(opacity left);

        position: absolute;
        left: 0;
        top: 33%;

        opacity: 0;

        color: $text-color;
        font-family: $main-font;
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: 0.15ch;
        margin-left: 0.5ch;
      }
    }
  }
}
