@use "./index" as *;

.project-card {
  @include cardLayout();

  .project-title {
    @include textShadow();
    @include formattedText(1.75rem);

    display: block;

    text-align: center;
    font-size: 1.75rem;
    margin: 1ch auto 2ch;
  }

  .about-project {
    @include formattedText(1.15rem);

    line-height: 2.5ch;
    margin: 2.5ch auto;
  }

  .project-title,
  .about-project {
    color: $text-color;
  }

  .screenshot {
    display: inline;

    max-width: 100%;
    border-radius: 5px;
  }
}
