@use "./variables" as *;
@use "./mixins" as *;

.projects {
  margin: 0 auto;

  .project-card {
    @include cardLayout();

    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 400ms;

    &:hover {
      grid-template-rows: 1fr;
    }

    .project-content {
      overflow: hidden;

      .project-title {
        @include textShadow();
        @include formattedText(2rem);

        display: block;
        margin-bottom: 0.5ch;

        text-align: center;
      }

      .screenshot {
        max-width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}
