.h1-hidden,
.span-hidden,
.download-hidden,
.heading-hidden,
.project-hidden,
.project-title-hidden,
.project-explain-hidden,
.techstack-hidden,
.github-link-hidden,
.livelink-hidden,
.contact-hidden,
.about-hidden {
  opacity: 0;
  filter: blur(3px);
  transition-property: opacity, filter, transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.h1-shown,
.span-shown,
.download-shown,
.heading-shown,
.project-shown,
.project-title-shown,
.project-explain-shown,
.techstack-shown,
.github-link-shown,
.livelink-shown,
.contact-shown,
.about-shown {
  opacity: 1;
  filter: blur(0);
}

.intro-info {
  .h1-hidden {
    transform: translateY(70%);
    transition-delay: 0.3s;
  }
  .span-hidden {
    transform: translateY(50%);
    transition-delay: 0.7s;
  }
  .download-hidden {
    transform: translateY(30%);
    transition-delay: 1.1s;
  }

  .h1-shown,
  .span-shown,
  .download-shown {
    transform: translateY(0);
  }
}

.projects {
  .project-hidden,
  .project-title-hidden,
  .project-explain-hidden,
  .techstack-hidden,
  .github-link-hidden,
  .livelink-hidden {
    transform: translateX(-40%);
  }

  .project-title-hidden,
  .techstack-hidden {
    transition-delay: 0.5s;
  }

  .github-link-hidden {
    transition-delay: 0.5s;
  }
  .livelink-hidden {
    transition-delay: 0.7s;
  }

  .project-shown,
  .project-title-shown,
  .project-explain-shown,
  .techstack-shown,
  .github-link-shown,
  .livelink-shown {
    transform: translateX(0);
  }
}

.contact-hidden,
.about-hidden {
  transform: translateY(40%);
}
.contact-shown,
.about-shown {
  transform: translateY(0);
}
