@font-face {
  font-family: "cadmanregular";
  src: url("../assets/fonts/Cadman_Roman-webfont.woff") format("woff");
}
$main-font: "cadmanregular";

@font-face {
  font-family: "juicebold";
  src: url("../assets/fonts/JUICE_Bold-webfont.woff") format("woff");
}
$title-font: "juicebold";

$primary-color: hsl(240, 20%, 17%);
$primary-color-light: hsl(240, 17%, 21%);
$secondary-color: hsl(0, 0%, 6%);
$tertiary-color: aqua;
$text-color: white;

//z-index
$top: 10000;
