$textColor: rgb(245,239,226);
$textHover: aqua;

$primaryBG: #1a1a27;
$secondaryBG: black;
$bodyBGLight: rgb(35,35,45);

$transitionSpeed: 400ms;

$mainFont: 'juice_boldbold';
$secondaryFont: 'abelregular';