@font-face {
  font-family: "samba";
  src: url("../assets/fonts/Samba-webfont.woff") format("woff");
}
$main-font: "samba";

@font-face {
  font-family: "juiceregular";
  src: url("../assets/fonts/JUICE_Regular-webfont.woff") format("woff");
}
$title-font: "juiceregular";

$primary-color: hsl(240, 20%, 17%);
$primary-color-light: hsl(240, 17%, 21%);
$secondary-color: hsl(0, 0%, 6%);
$tertiary-color: hsl(180, 100%, 50%);
$tertiary-color-a7: rgba(0, 255, 255, 0.7);
$text-color: hsl(0, 0%, 100%);

//z-index
$top: 10000;
