$bg-color: black;
$primary-color: hsl(240, 20%, 17%); //#232334
$primary-color-light: hsl(240, 17%, 21%);
$secondary-color: hsl(0, 0%, 6%);
$tertiary-color: hsl(180, 100%, 50%);
$tertiary-color-a7: rgba(0, 255, 255, 0.7);
$text-color: hsl(0, 0%, 100%);
$text-shadow: 0 0 10px $tertiary-color;
