@font-face {
  font-family: "technasans";
  src: url("../assets/fonts/TechnaSans-Regular-webfont.woff") format("woff");
  font-weight: 900;
}
$title-font: "technasans";

@font-face {
  font-family: "abel";
  src: url("../assets/fonts/Sarpanch-Medium-webfont.woff") format("woff2");
  src: url("../assets/fonts/k2d-thin-webfont.woff") format("woff");
}
$main-font: "abel";
